body{
	font-family:'RobotoLight';

}

h1,h2,h3,h4,h5,h6 {
	margin: 5px;
	}

h1 {
	font-family:"Roboto";
}
h2 {
  	font-family:"RobotoBold";
}
h3 {
	font-family:"Roboto";
}
h4 {
	font-family:'RobotoBold';
} 
h5 {
	font-family:'RobotoMedium';
}
h6 {
	font-family:'RobotoLight'
}
p {
	font-family:'RobotoLight';
	font-size: 14px !important;
}
.btn {
	color: #03a9f4;
	font-family:"Roboto";
	font-size: 0.8rem;

}
.container {

	width: 70%;
	background-color: black;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;
}
.align-center {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
}
.d-flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	align-content: space-around;
}

.col-4 {
	width: 33%;
}
.col-5 {
	width: 41%;
}
.col-6 {
	width: 50%;
}
.col-7 {
	width: 58%;
}
.col-8 {
	width: 66%;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83%;
}
.col-10 {
	width: 83%;
}
.col-12 {
	width: 100%;

}
#menu {
	width: 20%;
	background-color: black;
}
#content {
	width: 80%;
	background-color: #dadada;
}
header {
	background-color: green;
	height: 50px;
}
nav {
	height: 50px;
}
nav li {
	width: 70px;
	text-decoration: none;
}
.label {
	width: 80%;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	margin:20px;
	padding: 0px 20px 0px 20px;
}
.card {
	width: 190px;
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 20px 10px 20px 10px;

}
.card img {
	width: 80px;


}
.margin-b {
	margin-bottom: 20px;
}

@media (max-width: 1000px) {


 }